In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [27]:
data = pd.read_csv("data/Social_Network_Ads.csv")

In [11]:
data.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [12]:
data=pd.get_dummies(data)

In [13]:
X=data.iloc[:,[1,2,4,5]]
y=data.iloc[:,3:4]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)
lr=LogisticRegression()
lr.fit(X_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
y_pred=lr.predict(X_test)

In [25]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
print("Classification Report - \n",classification_report(y_test,y_pred))
print("\n\nAccuracy Score - ",accuracy_score(y_test,y_pred))
print("\n\nConfusion Matrix - \n",confusion_matrix(y_test,y_pred))

Classification Report -
              precision    recall  f1-score   support

          0       0.85      1.00      0.92        45
          1       1.00      0.47      0.64        15

avg / total       0.89      0.87      0.85        60



Accuracy Score -  0.866666666667


Confusion Matrix -
 [[45  0]
 [ 8  7]]

In [26]:
X.head()

    Age  EstimatedSalary  Gender_Female  Gender_Male
0  19.0          19000.0            0.0          1.0
1  35.0          20000.0            0.0          1.0
2  26.0          43000.0            1.0          0.0
3  27.0          57000.0            1.0          0.0
4  19.0          76000.0            0.0          1.0